<!-- <input (keyup)="changeImage($event)" [value]="imgURL">

<app-post [postImg]="imgURL" (imageSelected)="(loadImg($event))">
    <p> <strong>Some Caption</strong> </p>
    <p> <strong>Some Caption</strong> </p>
</app-post>

<p>Hello {{ name.toLocaleLowerCase() }}</p>
<p>Hello {{getName()}}</p>
<p>{{18 + 13}}</p> -->
<h2>Parent Component</h2>
<h1>Yosef</h1>
<!-- <app-child [uName] = "userName"></app-child> -->
<div class="login">
    userName: <input type="text" name="" id="">
    password: <input type="password">
</div>